<div class="container">

  <h1></h1>

    <div class="home-img-1"><a routerLink='/detail/1'><img src="https://unsplash.it/1000/600/?random" /></a></div>



<div class="row home-row-1">


      <div class="home-images home-img-2 col-md-6 col-xs-12"><img src="https://unsplash.it/1000/350/?random" /></div>

      <div class="home-images home-img-3 col-md-6 col-xs-12"><img src="https://unsplash.it/1000/350/?random" /></div>
</div>

      <div class="home-images home-img-lg col-xs-12"></div>


  <div class="row home-row-1">


      <div class="home-images home-img-2 col-md-6 col-xs-12"></div>

      <div class="home-images home-img-3 col-md-6 col-xs-12"></div>
  </div>

</div>
